In [91]:
# modules
import pandas as pd
import pickle 

#importing preprocessed file
movies=pickle.load(open('./data/movies_meta_data.pkl','rb'))

movies

,id,genres,title,overview,poster_path,release_date,vote_average,cast,crew,keywords,userId,rating,tagline
0,710,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",GoldenEye,James Bond must unmask the mysterious head of ...,/5c0ovjT41KnYIHYuF4AWsTe3sKh.jpg,1995-11-16,6.6,"[{'cast_id': 1, 'character': 'James Bond', 'cr...","[{'credit_id': '52fe426ec3a36847f801e14b', 'de...","[{'id': 701, 'name': 'cuba'}, {'id': 769, 'nam...",2,4.0,No limits. No fears. No substitutes.
1,710,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",GoldenEye,James Bond must unmask the mysterious head of ...,/5c0ovjT41KnYIHYuF4AWsTe3sKh.jpg,1995-11-16,6.6,"[{'cast_id': 1, 'character': 'James Bond', 'cr...","[{'credit_id': '52fe426ec3a36847f801e14b', 'de...","[{'id': 701, 'name': 'cuba'}, {'id': 769, 'nam...",4,4.0,No limits. No fears. No substitutes.
2,710,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",GoldenEye,James Bond must unmask the mysterious head of ...,/5c0ovjT41KnYIHYuF4AWsTe3sKh.jpg,1995-11-16,6.6,"[{'cast_id': 1, 'character': 'James Bond', 'cr...","[{'credit_id': '52fe426ec3a36847f801e14b', 'de...","[{'id': 701, 'name': 'cuba'}, {'id': 769, 'nam...",7,3.0,No limits. No fears. No substitutes.
3,710,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",GoldenEye,James Bond must unmask the mysterious head of ...,/5c0ovjT41KnYIHYuF4AWsTe3sKh.jpg,1995-11-16,6.6,"[{'cast_id': 1, 'character': 'James Bond', 'cr...","[{'credit_id': '52fe426ec3a36847f801e14b', 'de...","[{'id': 701, 'name': 'cuba'}, {'id': 769, 'nam...",15,3.0,No limits. No fears. No substitutes.
4,710,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",GoldenEye,James Bond must unmask the mysterious head of ...,/5c0ovjT41KnYIHYuF4AWsTe3sKh.jpg,1995-11-16,6.6,"[{'cast_id': 1, 'character': 'James Bond', 'cr...","[{'credit_id': '52fe426ec3a36847f801e14b', 'de...","[{'id': 701, 'name': 'cuba'}, {'id': 769, 'nam...",19,3.0,No limits. No fears. No substitutes.
...,...,...,...,...,...,...,...,...,...,...,...,...,...
13004,324668,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",Jason Bourne,The most dangerous former operative of the CIA...,/lFSSLTlFozwpaGlO31OoUeirBgQ.jpg,2016-07-27,5.9,"[{'cast_id': 2, 'character': 'Jason Bourne', '...","[{'credit_id': '552da5e192514174db00514b', 'de...","[{'id': 782, 'name': 'assassin'}, {'id': 1453,...",62,4.0,You know his name
13005,324668,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",Jason Bourne,The most dangerous former operative of the CIA...,/lFSSLTlFozwpaGlO31OoUeirBgQ.jpg,2016-07-27,5.9,"[{'cast_id': 2, 'character': 'Jason Bourne', '...","[{'credit_id': '552da5e192514174db00514b', 'de...","[{'id': 782, 'name': 'assassin'}, {'id': 1453,...",287,4.5,You know his name
13006,316727,"[{'id': 28, 'name': 'Action'}, {'id': 27, 'nam...",The Purge: Election Year,Two years after choosing not to kill the man w...,/bjOJFjUffRZQpNQ9g3yvc9F6LBM.jpg,2016-06-29,6.1,"[{'cast_id': 1, 'character': 'Senator Charlie ...","[{'credit_id': '54d9f356c3a3687ab50014d6', 'de...","[{'id': 4565, 'name': 'dystopia'}, {'id': 9663...",15,2.0,Keep America great
13007,390734,"[{'id': 28, 'name': 'Action'}, {'id': 16, 'nam...",Kingsglaive: Final Fantasy XV,The magical kingdom of Lucis is home to the wo...,/qHvxeaYRUABP4wHrg6xNDF7RxvD.jpg,2016-07-09,6.8,"[{'cast_id': 11, 'character': 'Nyx Ulric (voic...","[{'credit_id': '56fd1a259251415fa3002309', 'de...","[{'id': 1721, 'name': 'fight'}, {'id': 10987, ...",73,3.0,Kingsglaive: Final Fantasy XV
13008,390989,"[{'id': 35, 'name': 'Comedy'}, {'id': 27, 'nam...",Sharknado 4: The 4th Awakens,The new installment of the Sharknado franchise...,/jcP3HFXF1BIW9LmBrDusbbDZjBG.jpg,2016-07-31,4.3,"[{'cast_id': 0, 'character': 'Fin Shepard', 'c...","[{'credit_id': '56ffae0cc3a3686ea7001e00', 'de...","[{'id': 2988, 'name': 'shark attack'}, {'id': ...",624,1.5,"What happens in Vegas, stays in Vegas. Unless ..."

In [92]:
# list of id with its title 
id_title=[]

# list of user id
user_id=[]

# iterate over all movies in dataframe
for idx in movies.index:
    id_title.append([ movies['id'][idx],movies['title'][idx] ])
    user_id.append([movies['id'][idx],movies['userId'][idx],movies['rating'][idx]])

# generate dataframe of movie id and title 
id_title_df=pd.DataFrame(id_title,columns=['id','title']).drop_duplicates()

# generate dataframe of movie id , user id and rating 
ueser_id_df=pd.DataFrame(user_id,columns=['id','userId','rating']).drop_duplicates()

           id  userId  rating
0         710       2     4.0
1         710       4     4.0
2         710       7     3.0
3         710      15     3.0
4         710      19     3.0
...       ...     ...     ...
13004  324668      62     4.0
13005  324668     287     4.5
13006  316727      15     2.0
13007  390734      73     3.0
13008  390989     624     1.5

[12998 rows x 3 columns]

In [93]:
# generate matrix of user id and movie id with value as rating and repalce all nan value with 0
user_movie_mat=pd.pivot(ueser_id_df,index='userId',columns='id',values='rating').fillna(0)

id,10009,10020,10032,100402,10045,10053,10061,101299,10138,10147,...,9682,97020,9714,9792,9806,9836,984,98566,9945,99861
userId,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
666,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
667,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
669,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
670,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
671,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [95]:


# reset index of user_movie_mat
user_movie_mat=user_movie_mat.reset_index()

In [15]:
# generate matrix of user id and movie id with value as rating  again with new index
user_movie_mat=pd.pivot(ueser_id_df,index='id',columns='userID',values='rating').fillna(0)
user_movie_mat

id,10009,10020,10032,100402,10045,10053,10061,101299,10138,10147,...,9682,97020,9714,9792,9806,9836,984,98566,9945,99861
newUserId,,,,,,,,,,,,,,,,,,,,,
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
649,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
650,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
651,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
652,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
653,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [98]:
# normalise all values (i.e mean centric all values column wise)
def standardize(col):
    new_col=(col-col.mean())/(col.max()-col.min())
    return new_col
rating_std=user_movie_mat.apply(standardize)

# transpose matrix
rating_std.T

userId,1,2,3,4,5,6,7,8,9,10,...,661,662,663,664,665,666,667,669,670,671
id,,,,,,,,,,,,,,,,,,,,,
10009,-0.005242,-0.005242,-0.005242,-0.005242,-0.005242,-0.005242,-0.005242,-0.005242,-0.005242,-0.005242,...,-0.005242,-0.005242,-0.005242,-0.005242,-0.005242,-0.005242,-0.005242,-0.005242,-0.005242,-0.005242
10020,-0.201835,-0.201835,0.198165,-0.201835,0.598165,-0.201835,0.398165,-0.201835,-0.201835,-0.201835,...,-0.201835,0.598165,-0.201835,-0.201835,0.798165,0.198165,-0.201835,-0.201835,-0.201835,-0.201835
10032,-0.002621,-0.002621,-0.002621,-0.002621,-0.002621,-0.002621,-0.002621,-0.002621,-0.002621,-0.002621,...,-0.002621,-0.002621,-0.002621,-0.002621,-0.002621,-0.002621,-0.002621,-0.002621,-0.002621,-0.002621
100402,-0.021407,-0.021407,-0.021407,-0.021407,-0.021407,-0.021407,-0.021407,-0.021407,-0.021407,-0.021407,...,-0.021407,-0.021407,-0.021407,0.878593,-0.021407,-0.021407,-0.021407,-0.021407,-0.021407,-0.021407
10045,-0.005097,-0.005097,-0.005097,-0.005097,-0.005097,-0.005097,-0.005097,-0.005097,-0.005097,-0.005097,...,-0.005097,-0.005097,-0.005097,-0.005097,-0.005097,-0.005097,-0.005097,-0.005097,-0.005097,-0.005097
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9836,-0.002485,-0.002485,-0.002485,-0.002485,-0.002485,-0.002485,-0.002485,-0.002485,-0.002485,-0.002485,...,-0.002485,-0.002485,-0.002485,-0.002485,-0.002485,-0.002485,-0.002485,-0.002485,-0.002485,-0.002485
984,-0.027183,-0.027183,-0.027183,-0.027183,-0.027183,-0.027183,-0.027183,-0.027183,-0.027183,-0.027183,...,-0.027183,-0.027183,-0.027183,-0.027183,-0.027183,-0.027183,-0.027183,-0.027183,-0.027183,-0.027183
98566,-0.003976,-0.003976,-0.003976,-0.003976,-0.003976,-0.003976,-0.003976,-0.003976,-0.003976,-0.003976,...,-0.003976,-0.003976,-0.003976,-0.003976,-0.003976,-0.003976,-0.003976,-0.003976,-0.003976,-0.003976
9945,-0.004281,-0.004281,-0.004281,-0.004281,-0.004281,-0.004281,-0.004281,-0.004281,-0.004281,-0.004281,...,-0.004281,-0.004281,-0.004281,-0.004281,-0.004281,-0.004281,-0.004281,-0.004281,-0.004281,-0.004281
99861,-0.015443,-0.015443,-0.015443,-0.015443,-0.015443,-0.015443,-0.015443,-0.015443,-0.015443,-0.015443,...,-0.015443,-0.015443,-0.015443,0.984557,-0.015443,-0.015443,-0.015443,-0.015443,-0.015443,-0.015443

In [99]:
# import cosine_similarity for calculating angle between vector in multi-dimensional space
from sklearn.metrics.pairwise import cosine_similarity

In [100]:
# calculate similarity matrix of each movies with respect to each other movies
similarity = cosine_similarity(user_movie_mat.T)
similarity

array([[1.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 1.        , 0.10530098, ..., 0.26891706, 0.        ,
        0.07570564],
       [0.        , 0.10530098, 1.        , ..., 0.10618961, 0.        ,
        0.1062917 ],
       ...,
       [0.        , 0.26891706, 0.10618961, ..., 1.        , 0.        ,
        0.15905107],
       [0.        , 0.        , 0.        , ..., 0.        , 1.        ,
        0.15549632],
       [0.        , 0.07570564, 0.1062917 , ..., 0.15905107, 0.15549632,
        1.        ]])

In [24]:
# convert similarity matrix into data frame
similarity_df=pd.DataFrame(similarity,index=user_movie_mat.T.index,columns=user_movie_mat.T.index)
similarity_df

id,10009,10020,10032,100402,10045,10053,10061,101299,10138,10147,...,9682,97020,9714,9792,9806,9836,984,98566,9945,99861
id,,,,,,,,,,,,,,,,,,,,,
10009,1.000000,0.123244,0.000000,0.062017,0.000000,0.000000,0.042330,0.052105,0.047974,0.000000,...,0.000000,0.081349,0.000000,0.000000,0.185166,0.090655,0.077390,0.000000,0.00000,0.074582
10020,0.123244,1.000000,0.114482,0.074401,0.030861,0.000000,0.128573,0.064050,0.126258,0.110173,...,0.000000,0.118907,0.125579,0.088450,0.292674,0.091118,0.143427,0.058118,0.02123,0.075419
10032,0.000000,0.114482,1.000000,0.190318,0.000000,0.000000,0.129903,0.153374,0.222334,0.074843,...,0.000000,0.000000,0.111175,0.329531,0.103435,0.000000,0.135709,0.384934,0.00000,0.257484
100402,0.062017,0.074401,0.190318,1.000000,0.138796,0.000000,0.000000,0.522776,0.494167,0.112934,...,0.000000,0.491051,0.000000,0.096687,0.256836,0.139930,0.047782,0.263317,0.00000,0.656801
10045,0.000000,0.030861,0.000000,0.138796,1.000000,0.000000,0.000000,0.000000,0.112478,0.256837,...,0.461566,0.091030,0.000000,0.000000,0.105458,0.000000,0.000000,0.314413,0.00000,0.125186
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9836,0.090655,0.091118,0.000000,0.139930,0.000000,0.000000,0.000000,0.105569,0.103089,0.000000,...,0.000000,0.174808,0.000000,0.000000,0.133488,1.000000,0.000000,0.120756,0.00000,0.152252
984,0.077390,0.143427,0.135709,0.047782,0.000000,0.204298,0.143500,0.006554,0.075432,0.385200,...,0.000000,0.000000,0.044659,0.322658,0.169946,0.000000,1.000000,0.154628,0.00000,0.049253
98566,0.000000,0.058118,0.384934,0.263317,0.314413,0.000000,0.148012,0.107828,0.208825,0.221719,...,0.000000,0.243809,0.126674,0.375470,0.116362,0.120756,0.154628,1.000000,0.00000,0.242154
9945,0.000000,0.021230,0.000000,0.000000,0.000000,0.000000,0.086896,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.034705,0.000000,0.000000,0.000000,0.000000,0.000000,1.00000,0.000000
99861,0.074582,0.075419,0.257484,0.656801,0.125186,0.000000,0.000000,0.373067,0.467066,0.108651,...,0.000000,0.463799,0.000000,0.000000,0.196013,0.152252,0.049253,0.242154,0.00000,1.000000

In [76]:
import pickle

# create a file in the directory
pickle.dump(similarity_df,open('item_item_collaborative_sim_mat.pkl','wb'))

In [104]:
# it accepts movie name and rating given by user to that movie 
def get_similar_movies(movie_name,user_rarting):
    index=0
    # finding id of movie by its title
    for idx in ueser_id_df.index: 
        if ueser_id_df['title'][idx]==movie_name:
            index=ueser_id_df['id'][idx]
            break
    # calcualting similarity score of each movie again accorind to user rating ( if rating is less than 5 then decrease its similarity score or vice-versa)
    similar_score=similarity_df[index]*(user_rarting-5)

    # sort them all in decreasing order
    similar_score=similar_score.sort_values(ascending=False)

    return similar_score

In [105]:
# list of movies and its rating rated by user in real time 
list_of_user_preferences=[["Iron Man",1],["Spider-Man",9],["Spider-Man 3",8]]
similar_movies=pd.DataFrame()

# for each movie recalculate movies similarity according to user preferences
for elm in list_of_user_preferences:
    similar_movies=similar_movies.append(get_similar_movies(elm[0],elm[1]),ignore_index=True)


# suming up all values for each movies and sort them in decreasing order
similar_movies=similar_movies.sum().sort_values(ascending=False)
similar_movies=list(similar_movies.index)

1726
557
559

C:\Users\acer\AppData\Local\Temp\ipykernel_16760\765433587.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  similar_movies=similar_movies.append(get_similar_movies(elm[0],elm[1]),ignore_index=True)
C:\Users\acer\AppData\Local\Temp\ipykernel_16760\765433587.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  similar_movies=similar_movies.append(get_similar_movies(elm[0],elm[1]),ignore_index=True)
C:\Users\acer\AppData\Local\Temp\ipykernel_16760\765433587.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  similar_movies=similar_movies.append(get_similar_movies(elm[0],elm[1]),ignore_index=True)

['557',
 '559',
 '558',
 '22',
 '120',
 '161',
 '1487',
 '121',
 '2501',
 '165',
 '671',
 '122',
 '564',
 '808',
 '1893',
 '2502',
 '12',
 '607',
 '218',
 '402',
 '87',
 '9806',
 '863',
 '809',
 '36647',
 '76170',
 '1894',
 '89',
 '533',
 '7131',
 '85',
 '196',
 '585',
 '954',
 '603',
 '620',
 '24',
 '78',
 '1250',
 '860',
 '2667',
 '2292',
 '1892',
 '608',
 '187',
 '105',
 '6519',
 '242',
 '1648',
 '1690',
 '1891',
 '329',
 '36685',
 '871',
 '97020',
 '348',
 '578',
 '217',
 '8587',
 '7451',
 '6637',
 '10147',
 '984',
 '1620',
 '425',
 '238',
 '755',
 '72190',
 '8909',
 '10020',
 '1669',
 '531',
 '9257',
 '950',
 '88',
 '36586',
 '49521',
 '658',
 '1895',
 '812',
 '9682',
 '11224',
 '11',
 '2080',
 '199',
 '310',
 '127380',
 '18823',
 '298',
 '693',
 '328111',
 '534',
 '395',
 '955',
 '37135',
 '8966',
 '1103',
 '49444',
 '667',
 '710',
 '920',
 '49040',
 '561',
 '771',
 '163',
 '10625',
 '2787',
 '1576',
 '262500',
 '756',
 '36669',
 '10009',
 '691',
 '8456',
 '11247',
 '714',
 '15384',
 '12289',
 '627',
 '58',
 '135397',
 '294254',
 '660',
 '9792',
 '818',
 '429',
 '1858',
 '834',
 '1588',
 '16353',
 '36643',
 '4614',
 '198663',
 '102382',
 '23827',
 '172385',
 '810',
 '38365',
 '591',
 '647',
 '43593',
 '9325',
 '646',
 '324668',
 '15969',
 '14435',
 '13363',
 '532',
 '9552',
 '33613',
 '10947',
 '180299',
 '157350',
 '8374',
 '3170',
 '7516',
 '1930',
 '10527',
 '272',
 '682',
 '9502',
 '8355',
 '277',
 '14711',
 '956',
 '674',
 '12230',
 '53182',
 '122917',
 '4513',
 '10045',
 '10982',
 '7737',
 '72571',
 '67660',
 '140300',
 '10634',
 '49013',
 '57165',
 '699',
 '657',
 '69798',
 '33909',
 '77931',
 '38322',
 '260346',
 '390989',
 '31723',
 '216015',
 '56272',
 '58233',
 '205321',
 '253',
 '8274',
 '10483',
 '131634',
 '138843',
 '75780',
 '51540',
 '99861',
 '58151',
 '10061',
 '1992',
 '10193',
 '57800',
 '7484',
 '77930',
 '24253',
 '9334',
 '19912',
 '1251',
 '948',
 '681',
 '49018',
 '3396',
 '9408',
 '889',
 '218836',
 '700',
 '36648',
 '1977',
 '390734',
 '189',
 '8968',
 '1975',
 '2662',
 '9615',
 '10389',
 '74534',
 '109445',
 '10195',
 '91314',
 '82992',
 '698',
 '10948',
 '707',
 '1246',
 '14728',
 '8275',
 '14756',
 '37472',
 '102899',
 '83660',
 '72105',
 '20526',
 '23631',
 '11238',
 '22586',
 '41513',
 '7347',
 '211672',
 '1091',
 '76338',
 '675',
 '22794',
 '47964',
 '12540',
 '11059',
 '46195',
 '245891',
 '709',
 '24021',
 '15472',
 '1656',
 '49051',
 '18489',
 '36670',
 '137106',
 '2312',
 '10764',
 '18111',
 '71552',
 '100402',
 '114150',
 '8329',
 '98566',
 '23048',
 '14447',
 '58595',
 '1735',
 '64328',
 '207703',
 '285',
 '9638',
 '11281',
 '18239',
 '1696',
 '13804',
 '62837',
 '13486',
 '80518',
 '10679',
 '14869',
 '206647',
 '94329',
 '1865',
 '45243',
 '8373',
 '312221',
 '76492',
 '138832',
 '290595',
 '259693',
 '119450',
 '13387',
 '71668',
 '2503',
 '668',
 '708',
 '663',
 '13655',
 '20352',
 '440',
 '5894',
 '37724',
 '27578',
 '1771',
 '7555',
 '25188',
 '209112',
 '18785',
 '76285',
 '168705',
 '2269',
 '72545',
 '68726',
 '52520',
 '12155',
 '18360',
 '2698',
 '49519',
 '9714',
 '588',
 '4550',
 '1991',
 '36557',
 '249397',
 '275060',
 '8923',
 '38356',
 '84348',
 '71679',
 '11679',
 '33217',
 '71676',
 '47931',
 '55465',
 '314407',
 '70981',
 '14451',
 '80',
 '9945',
 '8617',
 '1271',
 '64688',
 '6477',
 '10192',
 '10032',
 '23398',
 '271110',
 '22843',
 '10992',
 '4564',
 '177677',
 '844',
 '38757',
 '9070',
 '168259',
 '249070',
 '76163',
 '11798',
 '843',
 '10865',
 '131631',
 '246655',
 '37786',
 '12599',
 '13015',
 '329833',
 '2082',
 '2061',
 '1248',
 '23437',
 '13643',
 '16146',
 '15158',
 '11802',
 '50619',
 '24150',
 '14144',
 '291805',
 '40264',
 '10528',
 '140607',
 '51497',
 '39312',
 '48395',
 '41436',
 '14560',
 '274167',
 '43933',
 '52015',
 '74387',
 '10138',
 '57158',
 '267860',
 '40663',
 '308531',
 '316727',
 '43074',
 '14306',
 '49538',
 '41154',
 '60307',
 '39451',
 '12476',
 '146216',
 '127585',
 '63578',
 '87101',
 '187017',
 '14761',
 '15092',
 '767',
 '10053',
 '10575',
 '56292',
 '58574',
 '22804',
 '41439',
 '68721',
 '82702',
 '76341',
 '138103',
 '118340',
 '12444',
 '325133',
 '13335',
 '47933',
 '24428',
 '27582',
 '60935',
 '70160',
 '155',
 '293660',
 '101299',
 '109418',
 '61791',
 '87421',
 '49026',
 '35791',
 '10191',
 '12445',
 '8880',
 '9836',
 '82690',
 '183011',
 '93456',
 '19995',
 '10991',
 '55779',
 '15159',
 '1726']